<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="seen.future.hiyokiti.gpsbackground">

    <!-- GPS使用パーミッション-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- ネットワーク位置情報使用パーミッション-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- ストレージ書き込み使用パーミッション-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- ストレージ読み込み使用パーミッション-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- フォアグラウンドサービスをしようするパーミッション -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- サービスクラスの指定-->
        <service android:name=".LocationService" />

    </application>

</manifest>